<p>
  Over the past 2 weeks, how often have you been bothered by any of the following problems?
</p>

<%= form_with method: "put" do |form| %>
<ul>
  <% @assessment.questions.each do |question| %>
  <li>
    <label>
      <%= question[:prompt] %>
      <%= form.hidden_field "response[][qid]", value: question[:qid] %>
      <%= form.select("response[][score]", @assessment.responses.map { |r| [r[:label], r[:score]] }, {}, data: { qid: question[:qid] }) %>
    </label>
  </li>
  <% end %>`
</ul>
<%= form.submit %>
<% end %>
